body {
  overflow-x: hidden;
}

.page {
  background-image: url('../image/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.landingpage {
  text-align: center;
  color: white;
  padding: 200px 0px 200px 0px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.para {
  font-size: 15px;
  font-weight: lighter;
}

#mouse {
  text-align: center;
  padding-bottom: 20px
}

.aboutus {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.services {
  background-image: url('../image/tech.jpg');
  background-size: cover;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  padding: 200px 0px 200px 0px;
}

.what-we-do {
  text-align: center;
  padding: 20px 40px 20px 40px;
}

.what-we-do h6 {
  font-weight: bold;
}

#des {
  display: none;
  text-align: center;
}

.offer {
  cursor: pointer;
}

#dev {
  display: none;
  text-align: center;
}

.prise {
  cursor: pointer;
}

#prod {
  display: none;
  text-align: center;
}

.manage {
  cursor: pointer;
}

#serv {
  padding: 20px 30px 20px 30px;
}

.container-fluid {
  margin-top: 20px;
  margin-right: 10px;
  text-align: center;
}

.contact {
  background-image: url('../image/machine.jpg');
  color: white;
  padding: 100px 10px 20px 10px;
  margin-top: 50px;
  text-align: center;
}

.contact h1 {
  text-align: center;
}

.input {
  color: white;
  background: transparent;
}

.social {
  text-align: center;
  padding-top: 50px;
}

.right {
  padding-top: 40px;
  text-align: center;
}

.title {
  display: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 5px solid white;
  padding: 20px 60px 20px 60px;
}
