.page{
  background-image: url('../image/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.landingpage{
  text-align: center;
  color: white;
  padding:200px 0px 200px 0px;
  font-family:sans-serif;
  font-size: 20px;
  font-weight:100;
}
.para{
  font-size: 15px;
  font-weight: lighter;
}
#mouse{
  text-align: center;
  padding-bottom: 20px
  /* margin-left: 200px; */
}
